body {
  background-color: rgb(26, 25, 25);
  color: white;
  border: 1px solid rgb(43, 41, 41);
  max-width: 40%;
  margin: 0 auto;

  text-align: center;
}
.input-nums {
  border: 1px solid rgb(29, 28, 28);
  padding: 55px 0 0 10px;
  background-color: rgba(41, 40, 40, 0.7);
  border-radius: 8px;
  display: flex;
  justify-content: end;
  font-size: 2.1rem;
}
