body {
  background-color: rgb(17, 17, 17);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 800;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 30%;
  background-color: rgba(19, 18, 18, 0.5);
  box-shadow: 5px 5px 5px 2px rgba(46, 44, 44, 0.39);
  margin-top: 20px;
}
form .user-input {
  border: none;
  padding: 20px;
  text-align: end;
  background-color: transparent;
  color: white;
  margin-bottom: 15px;
  font-size: 25px;
}

input:focus,
textarea:focus,
select:focus {
  border: none;
  outline: none;
}

.nums input {
  width: 80px;
  margin-bottom: 9px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(46, 44, 44, 0.39);
  color: white;
  background-color: rgb(34, 33, 33);
}

.operators input {
  background-color: rgb(57, 57, 241);
}
